
.welcome-container{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #02384b;
    border-radius: 10px;
    padding: 20px;
}

h1{

    font-style: italic;
    color: rgb(100, 194, 228);
    text-decoration-color: rgb(100, 194, 228);
    text-decoration-line: underline;
    margin: 50px;
}


.create-task-container {
    color: black;
    width: 500px; /* You might want to adjust this width */
    padding: 20px;
    background-color: #bdc8cb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
  }
  